<nav class="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <img src="assets/logo/logo-villa.svg" alt="Villa Los Reyes" width="168" height="64">
  </div>

  <!-- Menú horizontal (la MISMA lista que será panel en móvil) -->
  <ul class="navbar-menu" [class.open]="menuOpen">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/home']">{{ 'navbar.inicio' | translate }}</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/about']">{{ 'navbar.conocenos' | translate }}</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/services-facilities']">{{ 'navbar.servicios' | translate }}</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/experiences']">{{ 'navbar.experiencias' | translate }}</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/reviews']">{{ 'navbar.resenas' | translate }}</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/packages']">{{ 'navbar.paquetes' | translate }}</a>
    </li>

    <li><button class="btn-reservar">{{ 'navbar.reservar' | translate }}</button></li>
    <li>
      <lang-selector></lang-selector>
    </li>
  </ul>

  <!-- Icono de menú (visible solo en ≤1328px) -->
  <div class="menu-toggle" (click)="toggleMenu()" role="button" aria-label="Toggle menu">
    <span class="material-symbols-outlined">
       {{ menuOpen ? 'close' : 'menu' }}
    </span>
  </div>
</nav>



<!-- Overlay (Angular control flow moderno) -->
@if (menuOpen) {
  <div class="menu-overlay" (click)="toggleMenu()"></div>
}


