.page-content {
  padding-top: 160px;
}

.split-layout--up {
  margin-top: -5rem; /* puedes ajustar: -2rem, -6rem, etc. */
}

/* CSS */
.fragment-anchor {
  display: block;
  position: relative;
  top: -200px; /* desplaza 80px hacia arriba */
  visibility: hidden; /* no se ve */
}
