.page-content {
  padding-top: 10rem; /* 160px = 10rem; más semántico y adaptable */
}

/* Header principal (detrás del contenido) */

.split-layout--up {
  margin-top: -10rem;
}

main-header-section {
  position: relative;
  z-index: -1;
}
