:host {
  padding: 8px;
  overflow: hidden;
}

.thumb-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.thumb-image:hover {
  transform: scale(1.005);
}
