
<div
  class="section-container"
  [class.reverse]="reverse()"
  [style.background]="color()"
>
  <div class="left-content">
    <img [src]="leftImage().src" [alt]="leftImage().alt" />
    <info-panel
      [title]="info().title"
      [description]="info().description"
      [link]="info().link"
    />
  </div>

  <div class="right-content">
    @for (image of rightImages(); track $index) {
      <div class="image-wrapper">
        <a [routerLink]="image.path" class="image-link">
          <img [src]="image.src" [alt]="image.alt" />
          <div class="overlay">
            <h3>{{ image.name|translate }}</h3>
            <p>{{ image.details|translate }}</p>
          </div>
        </a>
      </div>
    }
  </div>
</div>
