:host {
  display: block;
  position: relative;
  z-index: 2;
}

.section-container {
  display: flex;
  gap: 2rem;
  height: 110vh;
  overflow: hidden;
  padding: 5rem 6rem;
  border-radius: 3rem 3rem 0 0;

}
.section-container.reverse {
  flex-direction: row-reverse;
}

.left-content {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}


.right-content {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
}

.image-wrapper {
  position: relative;
  flex: 1 1 0;
  border-radius: 1rem;
  overflow: hidden;
}
.image-link {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
}
.image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.image-link:hover img {
  transform: scale(1.05);
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.25) 40%, transparent 100%);

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  transition: background 0.3s ease;
}

.overlay h3 {
  margin: 0;
  color: #FFF;

  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem;
}

.overlay p {
  margin: 0.2rem 0 0;
  opacity: 0.85;

  color: #FFF;

  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.03125rem;
}

.image-link:hover .overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent 70%);
}


.left-content img,
.right-content img {
  flex: 1 1 0;
  width: 100%;
  object-fit: cover;
  min-height: 0;
  border-radius: 1rem;
}

info-panel {
  padding: 0.5rem 0;
}


