<section class="explore-rooms-section">
  <div class="header">
    <h2>{{ title() | translate }}</h2>
    <p>{{ description() | translate }}</p>
  </div>

  <div class="rooms-grid">
    @for (room of rooms(); track $index) {
      <a class="room-card" [routerLink]="room.path">
        <img [src]="room.src" [alt]="room.name | translate" />
        <div class="overlay">
          <h3>{{ room.name | translate }}</h3>
          <p>{{ room.details | translate }}</p>
        </div>
      </a>
    }
  </div>

  <a [routerLink]="link()" class="discover-link">{{ 'Descubre más' | translate }}</a>
</section>
