:host {
  display: block;
  width: 100%;
}
.packages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  overflow-x: auto;
  overflow-y: hidden;
  gap: 1.5rem;
  width: 100%;
  scrollbar-width: none;
  padding: 0.75rem 0;

  scroll-snap-type: x mandatory;
}

.packages-list::-webkit-scrollbar {
  display: none;
}

/* Cada tarjeta */
.package-link {
  text-decoration: none;
  flex: 1 1 auto;

  scroll-snap-align: start;
}

@media(max-width: 600px) {
  .packages-list {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 1rem;
  }

  .package-link {
    flex: none;
    width: 100%;
    max-width: 400px; /* Ajusta si quieres más ancho */
  }
}

