<div class="split-layout" [class.reverse]="reverse()" [style.background]="color()">
  <div class="text-container">
    <info-panel [title]="info().title" [description]="info().description" />

    @if (featuresTitle() && features()) {
    <feature-list [title]="featuresTitle()!" [features]="features()!" />
    }
  </div>

  <div class="visual-container">
    @if (images()) {
    @for (image of images(); track $index) {
    <img [src]="image.src" [alt]="image.alt|translate">
    }
    } @else if (map()) {
    <iframe class="map-frame" [src]="safeMapUrl" allowfullscreen loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    }
  </div>
</div>