
.package-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  min-width: 0; /* evita overflow por textos largos */
}

/* .packages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
} */

.packages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
}
