.services-gallery {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  overflow: auto;
}

.services-gallery::-webkit-scrollbar{
  display: none;
}

.service-link {
  display: block;
  text-decoration: none;
}
