.rooms-gallery {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  scroll-snap-type: x mandatory;
}

.rooms-gallery::-webkit-scrollbar {
  display: none;
}

.room-link {
  display: block;
  text-decoration: none;
  scroll-snap-align: start;
  flex: 0 0 400px;
  /* no crece ni se encoge más allá de max-width */
}






@media (max-width: 600px) {

  .rooms-gallery {
    padding: 0;
    padding-left: calc((100% - 400px) / 2);
    gap: 1rem;
  }

  .room-link {
    scroll-snap-align: center;
    flex: 0 0 256px;
  }
}
