:host {
  overflow: hidden;
  border-radius: 14px;
  padding: 8px;
}

.image-main {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.image-main:hover {
  transform: scale(1.005);
}
