:host {
  display: block;
  width: 100%;
  overflow: hidden;
}

gallery-info-section {
  margin-top: -7.5rem; /* mismo efecto sin romper el layout */
}

.fade-wrapper {
  display: block;
  transition: opacity 0.5s ease-in-out;
}
