<div class="page-content">

  <main-header-section [head]="header.head" [image]="header.image" [objectPosition]="header.objectPosition" />

  <gallery-info-section [mainImage]="gallery.mainImage" [thumbImages]="gallery.thumbImages" [title]="gallery.title"
    [description]="gallery.description" [featuresTitle]="gallery.featuresTitle" [features]="gallery.features"
    [panelWidth]="'600px'" [hasHostBg]="false" />

  <room-offer-section [background]="offer.background" [title]="offer.title" [subtitle]="offer.subtitle"
    [duration]="offer.duration" [description]="offer.description" [price]="offer.price" [currency]="offer.currency"
    [perPerson]="offer.perPerson" [link]="offer.link" [objectPosition]="offer.objectPosition"
    [transform]="offer.transform" [transformOrigin]="offer.transformOrigin" />

  <discover-experiences-section [header]="{
    title: 'experiences.header.title',
    description: 'experiences.header.description',
    link: { text: 'experiences.header.linkText', url: '/paquetes' }
  }" [experienceImages]="[
    {
      src: '/assets/images/adventures/slide-horse-riding-01.jpg',
      alt: 'experiences.items.cabalgatas.alt',
      title: 'experiences.items.cabalgatas.title',
      link:''
    },
    {
      src: '/assets/images/adventures/slide-hiking.jpg',
      alt: 'experiences.items.senderismo.alt',
      title: 'experiences.items.senderismo.title',
      link:''
    },
    {
      src: '/assets/images/adventures/slide-cycling.jpg',
      alt: 'experiences.items.ciclotours.alt',
      title: 'experiences.items.ciclotours.title',
      link:''
      },
    {
      src: '/assets/images/adventures/slide-beach-01.jpg',
      alt: 'experiences.items.otras.alt',
      title: 'experiences.items.otras.title',
      link:''
    }
  ]" />

  <discover-services-default/>
</div>