<footer class="footer-section">
  <div class="footer-container">

    <!-- Columna 1: Logo y redes -->
    <div class="footer-column brand">
      <img class="footer-logo" src="assets/logo/logo-villa.svg" alt="Villa Los Reyes" width="168" height="64">


      <div class="social-icons">
        <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" aria-label="Messenger"><i class="fa-brands fa-facebook-messenger"></i></a>
        <a href="https://wa.me/5352741734" aria-label="WhatsApp" target="_blank"><i
            class="fa-brands fa-whatsapp"></i></a>
      </div>
    </div>

    <!-- Columna 2: Contactos -->
    <div class="footer-column contact">
      <h3>Contactos</h3>
      <ul>
        <li class="click-to-copy hover-link" (click)="copyNumber('+53 48 793317')"
          [class.copied]="copiedNumber === '+53 48 793317'">
          <i class="fa-solid fa-phone"></i>(+53) 48 793317
          <span class="tooltip">Copiado</span>
        </li>

        <li class="click-to-copy hover-link" (click)="copyNumber('+53 5 2741734')"
          [class.copied]="copiedNumber === '+53 5 2741734'">
          <i class="fa-solid fa-phone"></i>(+53) 5 2741734
          <span class="tooltip">Copiado</span>
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:joanmanuel2008@yahoo.es" class="hover-link">joanmanuel2008@yahoo.es</a>
        </li>
        <li>
          <a href="https://maps.app.goo.gl/ocppjEAutwcchVzGA" target="_blank" class="hover-link">
            <i class="fa-solid fa-location-dot"></i>
            Calle Salvador Cisneros #206-C, Viñales, Pinar del Río, Cuba
          </a>
        </li>
      </ul>
    </div>

    <!-- Columna 3: Mensaje y chat -->
    <div class="footer-column message">
      <h3>¡Comunícate con nosotros!</h3>
      <p>
        Envíenos sus comentarios, preguntas o inquietudes. Estaremos encantados de atenderle y ponernos en contacto con
        usted.
      </p>

      <a routerLink="/contacto" class="chat-btn" (click)="openWhatsApp()">
        <i class="fa-regular fa-comment-dots"></i>
        Chat en línea
      </a>
    </div>

  </div>

  <hr />

  <div class="footer-bottom">
    <p>Todos los derechos reservados</p>
    <p>Villa Los Reyes {{ currentYear }}</p>
  </div>
</footer>