.footer-section {
  background-color: #003E2E;
  color: #fff;
  padding: 4.5rem 7.5rem 2.5rem 7.5rem;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  gap: 7rem;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-column {
  flex: 1;

}

/* --- Columna 1: Logo + redes --- */
.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 21rem;
  height: 8rem;
  margin-bottom: 1.5rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;

}

.social-icons a {
  color: #fff;
  font-size: 2.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #D17D00;
}

/* --- Columna 2: Contactos --- */
.contact h3 {
  color: #F5FBF6;

  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem;
  margin-bottom: 1.25rem;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.contact i {
  color: #D17D00;
  font-size: 1.5rem;

  min-width: 16px;
}

.contact a.hover-link,
.contact li.hover-link {
  color: #F5FBF6;

  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.03125rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;

}

.contact a.hover-link:hover,
.contact li.hover-link:hover {
  color: #D17D00;

}

.message h3 {
  color: #fff;
  text-align: center;

  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem;
  margin-bottom: 1rem;
}

.message p {
  color: #fff;

  text-align: center;

  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.03125rem;

  margin-bottom: 1.5rem;
}

.chat-btn {

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 7rem;

  gap: 0.5rem;
  background-color: #F49516;
  color: #fff;
  text-decoration: none;
  padding: 1.5rem 2rem;

  text-align: center;

  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.00625rem;
  transition: background-color 0.3s ease;
}

.chat-btn:hover {
  background-color: #d57f14;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin: 2rem 0;
}

.footer-bottom {
  text-align: center;

  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.03125rem;
  color: #fff;
}

.click-to-copy {
  position: relative;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F49516;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.click-to-copy.copied .tooltip {
  opacity: 1;
}


@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contact li {
    justify-content: center;
  }

  .chat-btn {
    margin: 0 auto;
  }
}