.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  padding: 140px 44px;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: -2;
}

/* Gradiente oscuro sobre la imagen */
.carousel-container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.0) 0%,
      rgba(0, 0, 0, 0.15) 30%,
      rgba(0, 0, 0, 0.45) 60%,
      rgba(0, 0, 0, 0.75) 85%,
      rgba(0, 0, 0, 0.95) 100%);
  mix-blend-mode: multiply;
}

.carousel-overlay {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 320px;
}

.text-content {
  order: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-content h1 {
  color: #D17D00;
  font-family: Poppins;
  font-size: 68px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.25px;
  white-space: pre-line;

}

.text-content p {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
  width: 948px;
  white-space: pre-line;
}

.nav-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 42px;
  cursor: pointer;
  transition: transform 0.2s;
}

.nav-button:hover {
  transform: scale(1.2);
}

.left-side {
  order: 0;
}

.right-side {
  order: 2;
}

/* -------------------
   Indicadores (dots)
-------------------- */
.indicator-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 8px;
}

.indicator {
  background-color: #aaa;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Dot activo: crece y cambia color */
.indicator.active {
  background-color: #D17D00;
  transform: scale(1.6);
}
