:host {
  display: block;
  background-color: #f7faf7;

}
/* '#E4EAE5' '#f7faf7'; */

.rooms-section {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  width: 100%;
  height: 100%;

  min-height: 50rem;
  padding: 5rem;
  box-sizing: border-box;
  overflow: hidden;

  background-color: #E4EAE5;
  border-radius: 3rem 3rem 0 0;
}

.info-container {
  flex: 0 0 25%;
  max-width: 40%;
  align-self: center;
}

.rooms-gallery {
  flex: 1;
}
