h2 {
  padding: 8px;

  color: var(--Schemes-On-Surface-Variant, #404944);
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.625rem;
  /* 130% */
  letter-spacing: 0.00938rem;
  margin: 0.3rem 0;
}

.feature-list {
  list-style: none;
  padding: 8px;

  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 1rem;
  /* espacio horizontal y vertical */
}

.feature-list li {
  display: flex;
  align-items: center;
  color: var(--Schemes-On-Surface-Variant, #404944);
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  /* 137.5% */
  letter-spacing: 0.03125rem;
  padding: 0.4rem;

}

.feature-list li i {
  color: #186B53;

  font-size: 1.2rem;
  margin-right: 0.5rem;
}