:host {
  display: block;
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
  align-items: center;
  background-color: #f7faf7;
  padding: 5rem;
  border-radius: 3rem 3rem 0 0;

}


@media(max-width:600px){

}
