:host {
  display: block;
  background: #E4EAE5;
  position: relative;
  z-index: 2;
  border-radius: 3rem 3rem 0 0;

}


.gallery-hiking-section {
  width: 100%;
  padding: 5rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;
}

.gallery-item {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

/* Overlay con gradiente */
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: end;
  padding: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  color: #fff;
  transition: background .3s ease;


  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem;
}

.gallery-item:hover .overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}

.overlay h3 {
  font-size: 1.2rem;
  margin: 0;
}
