 .button-nav {
   display: flex;
   gap: 12px;
   flex-wrap: wrap;
   padding-top: 250px;

 }

 .button-nav button {
   padding: 8px 16px;
   background-color: #007bff;
   border: none;
   border-radius: 6px;
   color: white;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .button-nav button:hover {
   background-color: #0056b3;
 }

 .button-nav .active {
   background-color: #28a745;
 }
