:host {
  display: block;
  position: relative;
  overflow: hidden;

  z-index: 3;
}

.gallery-info-section {
  width: 100%;
  display: flex;
  padding: 5rem;
  justify-content: center;
  border-radius: 3rem 3rem 0 0;
}

.gallery-wrapper {
  width: 100%;
  max-width: 1760px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3.5rem;
}

/* Columna de info */
.info-column {
  flex: 0 1 40%;
  min-width: 20rem;
}

/* Galería de imágenes */
.gallery-info-section>gallery-grid {
  flex: 1 1 60%;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
}

/* Reverso */
.gallery-info-section.reverse .gallery-wrapper .info-column {
  order: 1;
}

.gallery-info-section.reverse .gallery-wrapper gallery-grid {
  order: 2;
}


/* ==========================
   MÓVIL VERTICAL
   ========================== */
@media (max-width: 600px) {
  .gallery-info-section {
    padding: 2rem 1rem;
    border-radius: 1rem 1rem 0 0;
    justify-content: center;
  }

  .gallery-wrapper {
    flex-direction: column;
    align-content: center;
    gap: 0.5rem;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
  }

  .info-column {
    order: 1;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    margin-inline: auto;

  }

  gallery-grid {
    order: 2;
    flex: 1 1 auto;
    width: 100%;
    min-width: unset;
  }
}
