/* =========================================================
   FOOTER BASE
   ========================================================= */
.footer-section {
  background-color: #003E2E;
  color: #fff;
  padding: 4.5rem 5rem 2.5rem;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.footer-column {
  flex: 1;
}



/* =========================================================
   BRAND
   ========================================================= */

.contact, .brand,
.message {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.brand {
  align-items: flex-start;
}
.brand-wrapper{
  align-items: center;
}
.footer-logo {
  width: 20rem;
  height: auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.social-icons a {
  color: #fff;
  font-size: 2.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #D17D00;
}

/* =========================================================
   CONTACT + MESSAGE
   ========================================================= */

.contact h3,
.message h3 {
  color: #F5FBF6;
  font-size: 1.75rem;
  font-weight: 600;
}

.contact ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #F5FBF6;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 0.03125rem;
  transition: color 0.2s ease;
  user-select: none;
  -webkit-user-select: none;
}

.contact a {
  color: inherit;
  text-decoration: none;
  pointer-events: auto;
}

/* Tooltip para copiar */
.click-to-copy {
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.contact li.hover-line:hover {
  color: #D17D00
}

.tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F49516;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.click-to-copy.copied .tooltip {
  opacity: 1;
}


/* =========================================================
   MESSAGE
   ========================================================= */
.message p {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
}

.chat-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #F49516;
  color: #fff;
  padding: 0.8rem;
  border-radius: 7rem;
  text-decoration: none;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}

.chat-btn:hover {
  background-color: #d57f14;
}

/* =========================================================
   BOTTOM
   ========================================================= */
hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin: 2rem 0;
}

.footer-bottom {
  text-align: center;
  font-size: 1.125rem;
}


/* =========================================================
   RESPONSIVE 1328PX
   ========================================================= */
@media (max-width: 1328px) {

  .footer-section {
    padding: 4rem 3rem 2rem;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: start;
  }

  /* BRAND */
  .brand {
    grid-column: 1;
  }

  /* CONTACT */
  .contact {
    grid-column: 2;
  }

  /* MESSAGE */
  .message {
    grid-column: 1 / -1;
    width: 480px;
    margin: 0 auto;
    text-align: center;
  }
}

/* =========================================================
   RESPONSIVE 600PX (MOBILE)
   ========================================================= */
@media (max-width: 600px) {

  .footer-section {
    padding: 3rem 1.25rem 2rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }

  .brand,
  .contact,
  .message {
    width: 100%;
    max-width: 410px;
  }

  /* BRAND */
  .brand {
    gap: 1.25rem;
    align-items: center;
  }

  .footer-logo {
    width: 14rem;
  }

  .social-icons {
    gap: 1.5rem;
  }

  .social-icons a {
    font-size: 1.9rem;
  }

  .contact ul {
    align-items: center;
  }


  .contact h3 {
    font-size: 1.45rem;
  }

  .contact li {
    font-size: 0.95rem;
  }

  .message h3 {
    font-size: 1.45rem;
  }

  .message p {
    font-size: 0.95rem;
  }

  .chat-btn {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .tooltip {
    position: absolute;
    left: 105%;
    transform: none;
    padding: 0 0.25rem;
    font-size: 0.55rem;
    white-space: nowrap;
  }

  .footer-bottom {
    font-size: 0.95rem;

  }
}
