.header-section h1 {
  color: #d17d00;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.875rem;
  letter-spacing: -0.01563rem;
  margin: 0 0 1rem 0;
}

.header-section p {
  color: #186b53;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0.00625rem;
  margin: 0;
}

.header-section p strong {
  color: #186b53;
  font-weight: 700;
}

.header-section img {
  display: block;
  margin: 2rem auto 0;
  width: 100%;
  height: 520px;
  object-fit: cover;
  
}
