<div class="room-offer-section">
 <img
    class="background-image"
    [src]="background()"
    [alt]="title() | translate"
    [style.object-position]="objectPosition()"
    [style.transform]="transform()"
    [style.transform-origin]="transformOrigin()"
  />
  <div class="offer-overlay">
    <div class="offer-content">
      <header class="offer-header">
        <h2 class="title">{{ title() | translate }}</h2>
        <h3 class="subtitle">{{ subtitle() | translate }}</h3>
      </header>

      <section class="offer-description">
        <p class="duration">{{ duration() | translate }}</p>
        <p class="description">{{ description() | translate }}</p>
      </section>

      <p class="price">
        <span class="amount">{{ price() }}</span>
        <span class="currency">{{ currency() | translate }}</span>
        <span class="per-person">{{ perPerson() | translate }}</span>
      </p>

      @if (link()) {
      <a [routerLink]="link()?.url" class="discover-link">
        {{ link()?.text | translate }}
      </a>
      }
    </div>
  </div>
</div>
