<div class="reviews-page">

  <main-header-section [head]="{ title: header.title, description: header.description }" />


  <div class="reviews-content">
    <section class="reviews-list">
      @if (paginatedReviews().length) {
      @for (review of paginatedReviews(); track review.id) {
      <article class="review-card">
        <header class="review-header">
          <div class="user-block">
            <img [src]="review.userPhoto || '/assets/images/avatar/avatar-default.png'" alt="Avatar del usuario"
              class="user-avatar">
            <div class="user-info">
              <span [ngClass]="review.userEmail && review.userEmail.trim() !== '' ? 'user-email' : 'user-name'">
                {{ review.userEmail && review.userEmail.trim() !== '' ? review.userEmail : review.userName }}
              </span>
              <div class="review-meta">
                <div class="review-stars">
                  @for (s of stars; track s) {
                  <span class="material-symbols-outlined" [style.color]="review.rating >= s ? '#404944' : '#404944'"
                    [style.font-variation-settings]=" review.rating >= s ? `'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24`: `'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24`">
                  star
                  </span>

                  }
                </div>
                <time class="review-date">{{ review.createdAt ? (review.createdAt | date:'mediumDate') : '' }}</time>
              </div>
            </div>
          </div>
        </header>
        <div class="review-main">

          <p class="review-text">{{ review.comment }}</p>
          <p class="useful-summary">
            {{ review.usefulCount || 0 }} personas la han encontrado útil
          </p>
        </div>

        <footer class="review-footer">

          <div class="useful-actions">
            <span class="useful-question">¿Te ha parecido útil esta opinión?</span>
            <button class="btn-useful" (click)="markUseful(review,true)">Sí</button>
            <button class="btn-useful" (click)="markUseful(review,false)">No</button>

          </div>
        </footer>
      </article>
      }

      <div class="pagination">
        <button class="page-btn" [disabled]="page() === 1" (click)="changePage(-1)">← Anterior</button>
        <span class="page-info">Página {{ page() }} de {{ totalPages() }}</span>
        <button class="page-btn" [disabled]="page() === totalPages()" (click)="changePage(1)">Siguiente →</button>
      </div>
      } @else {
      <p class="no-reviews">No hay reseñas disponibles.</p>
      }
    </section>

    <section class="review-form">
      @if (user()) {
      <div class="form-header">
        <div class="user-block">
          <img [src]="user()?.photoURL || '/assets/images/avatar/avatar-default.svg'" alt="Avatar del usuario"
            class="user-form-avatar">
          <span [ngClass]="user()?.email?.trim() ? 'user-form-email' : 'user-name'">
            {{user()?.email?.trim()
            ? user()?.email
            : (user()?.displayName?.trim()
            ? user()?.displayName
            : 'Usuario')}}
          </span>


        </div>
      </div>

      <div class="form-body">
        <h2 class="form-title">Calificación <br>de los servicios</h2>

        <div class="review-stars interactive">
          @for (s of stars; track s) {


          <span class="material-symbols-outlined" (click)="rating = s" [style.color]="rating >= s ? '#A3D0BD' : '#ccc'"
            [style.font-variation-settings]="rating >= s
        ? `'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24`
        : `'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24`">
            star
          </span>

          }

        </div>

        <p class="form-subtitle">¡Comparte tu experiencia con nosotros!</p>

        <textarea [(ngModel)]="comment" class="form-textarea" placeholder="Describe tu experiencia" maxlength="500"
          rows="4"></textarea>
        <div class="char-counter">{{ commentLength }}/500 caracteres</div>
        <p class="form-description">¡Comparte tu experiencia con nosotros! Tu opinión nos ayuda a mejorar y ofrecerte un
          mejor servicio</p>
        <div class="form-submit-container">
          <button class="form-submit" (click)="sendReview()">Enviar</button>
        </div>
      </div>
      } @else {
      <p class="login-hint">Inicia sesión para dejar una reseña.</p>
      }
    </section>

  </div>

</div>
