<div class="page-content">

  <!-- HEADER -->
  <main-header-section
    [head]="{
      title: header.title,
      description: header.description
    }"
  />

  <!-- GALLERY -->
  <gallery-info-section
    [mainImage]="gallery.mainImage"
    [thumbImages]="gallery.thumbImages"
    [title]="gallery.title"
    [description]="gallery.description"
    [link]="gallery.link"
    [features]="gallery.features"
    [featuresTitle]="gallery.featuresTitle"
    [panelWidth]="gallery.panelWidth"
    [reverse]="gallery.reverse ?? false"
    [color]="gallery.color"
    [hasHostBg]="gallery.hasHostBg"
    [mainHeight]="gallery.mainHeight ?? '45vh'"
    [thumbHeight]="gallery.thumbHeight ?? '24vh'"
  />

  <!-- OFFER -->
  <room-offer-section
    [background]="offer.background"
    [title]="offer.title"
    [subtitle]="offer.subtitle"
    [duration]="offer.duration"
    [description]="offer.description"
    [price]="offer.price"
    [currency]="offer.currency"
    [perPerson]="offer.perPerson"
    [link]="offer.link"
    [objectPosition]="offer.objectPosition"
    [transform]="offer.transform"
    [transformOrigin]="offer.transformOrigin"
  />

  <!-- EXPLORAR HABITACIONES -->
  <explore-rooms-section class="mt-negative"
    [title]="'Te puede interesar'"
    [description]="'Descubre Viñales con nuestras emocionantes excursiones.\n¡Aventuras inolvidables en un entorno natural único te esperan!'"
    [rooms]="rooms.slice(0,3)"
    [link]="'/services-facilities/facilities'"
  />
</div>
