:host {
  display: block;
  background: #E4EAE5;
  overflow: hidden;
}

.discover-experiences-section {
  display: flex;
  padding: 5rem;
  border-radius: 3rem 3rem 0 0;
  background: #f7faf7;
}

.experiences-wrapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  max-width: 1760px;
  width: 100%;
}


@media (max-width: 600px) {
  .experiences-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
  }

  .discover-experiences-section {
    padding: 2rem 1rem;
    border-radius: 1rem 1rem 0 0;
    justify-content: center;
  }
}
