:host {
  display: block;
  background: #E4EAE5;
}

.discover-experiences-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.25rem;

  padding: 5rem 5rem 6.25rem;
  border-radius: 3rem 3rem 0 0;
  background: #f7faf7;
  overflow: hidden;
}



@media (max-width: 600px) {
  .discover-experiences-section {
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    justify-content: center;
  }
}

