.location-section {
  display: flex;
  gap: 4rem;
  padding: 4rem 6rem;
  background-color: #f4faf7;
  border-radius: 24px;
}

/* panel de texto */
.location-section info-panel {
  flex: 1;
  max-width: 480px;
  background-color:  red;
  /* background: #E4EAE5; */

}

/* mapa */
.location-section location-map {
  flex: 1;
  max-width: 60%;
}

