.reviews-container {
  display: flex;
  gap: 2rem;
  padding: 10rem;
}

.reviews-list {
  flex: 2;
}

.review-card {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-date {
  margin-left: auto;
  margin-right: 0.5rem;
}

.useful-section {
  margin-top: 0.5rem;
}

.useful-buttons {
  margin-top: 0.25rem;
}

.useful-buttons button {
  margin-right: 0.5rem;
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.useful-buttons button.marked {
  background-color: #4caf50;
}

.useful-buttons button:disabled {
  opacity: 0.7;
  cursor: default;
}

.review-form {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.stars {
  margin: 0.5rem 0;
}

.star {
  cursor: pointer;
  font-size: 1.4rem;
}

textarea {
  width: 100%;
  min-height: 100px;
  margin: 0.5rem 0;
  resize: vertical;
}

button {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}
