.services-gallery {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 0;
}

.services-gallery service-item {
  flex: 1;
  aspect-ratio: 1 / 1;
}


.service-link {
  display: block;
  text-decoration: none;
  flex: 1;
}